---
import { Image } from "astro:assets";
import image1 from "../assets/IMG_0312.jpeg";
import image2 from "../assets/IMG_0262.jpeg";
import image3 from "../assets/IMG_0263.jpeg";
import image4 from "../assets/IMG_0265.jpeg";
import image5 from "../assets/IMG_0269.jpeg";
import image6 from "../assets/IMG_0273.jpeg";
import image7 from "../assets/IMG_0275.jpeg";
import image8 from "../assets/IMG_0276.jpeg";
import image9 from "../assets/IMG_0278.jpeg";
import image10 from "../assets/IMG_0283.jpeg";
import image11 from "../assets/IMG_0286.jpeg";
import image12 from "../assets/IMG_0288.jpeg";
import image13 from "../assets/IMG_0291.jpeg";
import image14 from "../assets/IMG_0293.jpeg";
import image15 from "../assets/IMG_0294.jpeg";
import image16 from "../assets/IMG_0301.jpeg";
import image17 from "../assets/IMG_0302.jpeg";
import image18 from "../assets/IMG_0309.jpeg";
import image20 from "../assets/washer-dryer.jpg";
---

<div
  class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4"
>
  <Image src={image1} alt="house image 1" />
  <Image src={image2} alt="house image 2" />
  <Image src={image3} alt="house image 3" />
  <Image src={image4} alt="house image 4" />
  <Image src={image5} alt="house image 5" />
  <Image src={image6} alt="house image 6" />
  <Image src={image7} alt="house image 7" />
  <Image src={image8} alt="house image 8" />
  <Image src={image9} alt="house image 9" />
  <Image src={image10} alt="house image 10" />
  <Image src={image11} alt="house image 11" />
  <Image src={image12} alt="house image 12" />
  <Image src={image13} alt="house image 13" />
  <Image src={image14} alt="house image 14" />
  <Image src={image15} alt="house image 15" />
  <Image src={image16} alt="house image 16" />
  <Image src={image17} alt="house image 17" />
  <Image src={image18} alt="house image 18" />
  <Image src={image20} alt="house image 20" />
</div>
